.vt-btn {
	border-radius: 40px;
    display: inline-block;
    background-color: #ccc;
    padding: 10px 20px;
    color: #fff;

    &.wide {
    	padding: 10px 50px;
    }

    &.full {
    	width: 100%;
    }

    &.greened {
    	background-color: $green;
    	&:hover {
    		background-color: $dark-green;
    	}
    }

    &:hover {
    	cursor: pointer;
    }
}