.vt-panel {
	border-radius: 5px;
	background-color: #fff;
	margin: 0 auto;
	padding: 50px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06);

	.vt-panel-subtitle {
		color: $grey;
		text-align: center;
		margin-bottom: 15px;
	}

	&.half-size {
		max-width: 550px;
	}

	&.big-size {
		max-width: 700px;
	}

	&.huge-size {
		max-width: 1000px;
	}

	.separator {
		border-bottom: 1px solid #e5e5e5;
		padding-top: 40px;
		margin-bottom: 40px;
	}
}