<div class="error">
	<p class="error-msg"><br><span class="alert">Error:</span>

		<br><span>error message error message error message<span>
		<br><span>error message error message error message<span>
		<br><span>error message error message error message<span>

	</p>
	<div class="error-btn">
		<input type="submit" class=' vt-btn vt-submit' onclick="history.go(-1);" value="Go back" />
	<div>
</div>