<table id="email-table-container">
	<tr class="table-coitaner-main"><!-- TEMPLATE // -->
		<td align="center" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" id="email-container" class="vt-panel half-size">

				<tr><!-- HEADER // -->
					<td>
						<table border="0" cellpadding="0" cellspacing="0" width="100%" id="email-header">
							<tr>
								<td class="email-logo">
									<img src="http://ingridwu.dmmdmcfatter.com/wp-content/uploads/2015/01/placeholder.png" alt="left-column-img" alt="logo" desc="logo">
								</td>
							</tr>
							<tr>
								<th>
									<h2 class="vt-page-header">Mail Template</h2>
								</th>
							</tr>
						</table>
					</td>
				</tr><!-- // END HEADER -->


				<tr> <!-- FIRST CONTENT // -->
					<td>
						<table border="0" cellpadding="0" cellspacing="0" width="100%" class="email-table-content">
							<tr>
								<td class="email-body-content">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<th class="email-section-title">
												<h3>Section title</h3>
											</th>
										</tr>
										<tr >
											<td class="email-text-content">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr> <!-- // END FIRST CONTENT -->


				<tr> <!-- BEGIN COLUMNS // -->
					<td>
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td valign="top">
									<table border="0" cellpadding="20" cellspacing="0" width="100%">
										<tr>
											<td class="email-left-column-content">
												<img src="http://ingridwu.dmmdmcfatter.com/wp-content/uploads/2015/01/placeholder.png" alt="left-column-img">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table border="0" cellpadding="20" cellspacing="0" width="100%">
										<tr>
											<td  class="email-right-column-content">
												<img src="http://ingridwu.dmmdmcfatter.com/wp-content/uploads/2015/01/placeholder.png" alt="right-column-img">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr> <!-- // END COLUMNS -->


				<tr> <!-- LAST CONTENT // -->
					<td>
						<table border="0" cellpadding="0" cellspacing="0" width="100%" class="table-content">
							<tr>
								<td class="email-body-content">
									<table border="0" cellpadding="0" cellspacing="0" >
										<tr>
											<th class="email-section-title">
												<h3>Section title</h3>
											</th>
										</tr>
										<tr>
											<td class="email-text-content">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr> <!-- // END LAST CONTENT -->

			</table>
		</td>
	</tr><!-- // END TEMPLATE -->
</table>