<div class="outer">
	<div class="middle">

		<article class="vt-panel vt-panel-auth">

			<div class="panel-heading vt-panel-header">
				<h3 class="vt-page-header vt-auth-title">Login</h3>
			</div>

			<div class="separator"></div>

			<div class="panel-body vt-panel-content">

				<form action="" method="post">

					<div class="form-group vt-input">
						<label class="control-label" for="login-email">Email</label>
						<input class="form-control" id="login-email" type="text" name="email">
					</div>
					<br>

					<div class="form-group vt-input">
						<label class="control-label" for="login-password">Password</label>
						<input class="form-control is-focused" id="login-password" type="password" name="password">
					</div>
					
					<div class="form-actions">
						<input class="greened vt-btn vt-submit" type="submit" name="submit" value="Submit">
						<a href="" class="vt-link vt-action-link vt-forgot">Forgot password?</a>
					</div>

				</form>

			</div>
			
		</article>
	</div>
</div>
